<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
    xmlns:context="http://www.springframework.org/schema/context"
    xsi:schemaLocation="http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans.xsd
    http://www.springframework.org/schema/context
    http://www.springframework.org/schema/context/spring-context.xsd">
    
    <!-- load the properties file: sport.properties-->
    <context:property-placeholder location="classpath:sport.properties" />
    
	<bean id="myLoggerConfig" class="com.tolgaocal80.MyLoggerConfig" init-method="initLogger">
    	<property name="rootLoggerLevel" value="FINE" />
    	<property name="printedLoggerLevel" value="FINE"/>
    </bean>
    
    <bean id="myFortuneService"
    	class="com.tolgaocal80.HappyFortuneService">
    </bean>
    
    <bean id="randomFortuneService"
    	class="com.tolgaocal80.RandomFortuneService">
    </bean>
    
 	<bean id="myBaseballCoach" class="com.tolgaocal80.BaseballCoach">
 		<constructor-arg ref="myFortuneService" />
 	</bean>
 	
 	<bean id="myTrackCoach" class="com.tolgaocal80.TrackCoach">
 		
 		<!-- setter injeciton-->
 		<property name="fortuneService" ref="randomFortuneService" />
 		
 	</bean>
 	
 	<bean id="myCricketCoach" 
 		class="com.tolgaocal80.CricketCoach">
 		
 		<!-- set up setter injection-->
 		<property name="fortuneService" ref="myFortuneService" />
 		
 		<!-- inject literal values-->
 		<property name="emailAddress" value="${coach.email}"></property>
 		<property name="team" value="${coach.team}" ></property>
 	</bean>
 		
</beans>



